# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_NICETOTEM_DONGLE

config ZMK_KEYBOARD_NAME
    default "Nice! Totem"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_NICETOTEM_LEFT || SHIELD_NICETOTEM_RIGHT || SHIELD_NICETOTEM_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif